:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #08942b; /* other button colours*/
  --color-secondary: #19376d;  /*skills button colours*/
  --color-dark: #0b2447;  /*lanugahes button colours*/
  --color-bg: #04152d; /* wesbite button colours*/

  /* Fonts */
  --font-roboto: "Roboto";
}
